body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td
			{margin:0;padding:0;}
body,button,input,select,textarea
			{color:#333; font:12px/1.5 \5FAE\8F6F\96C5\9ED1,'YaHei',"Microsoft Yahei",arial,\9ED1\4F53,Tahoma,Helvetica,sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
body{background:#fff;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;outline:none;} 
a:hover{text-decoration:underline;}
legend{color:#333;}
fieldset,img{border:0 none;}
button,input,select,textarea{font-size:100%; outline:none; resize:none;}
table{border-collapse:collapse;border-spacing:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{display:block;margin:0;padding:0;}
.cfl,.header_wrap{*zoom:1}
.cfl:after,.header_wrap:after{content:"\0020";display:block;height:0;clear:both;overflow:hidden;visibility:hidden}
.clear{clear:both; height:0; font:0/0 Arial; visibility:hidden;}
          
.tdn, .tdn:hover { text-decoration:none;}
.l { float:left;}
.r { float:right;}
.cl { clear:both;}
img { border:0;}
.tc { text-align:center;}
.tr { text-align:right;}
.tl { text-align:left;}
.tdl { text-decoration:underline;}
.g0 { color:#000;}
.g3 { color:#333;}
.g6 { color:#666;}
.g9 { color:#999;}
.r3 { color:#f30;}
.wf { color:#fff;}
.rd{color:#e7308c;}
.rt{ color: #dd1471;}
.vm { vertical-align:middle;}
.vtb { vertical-align:text-bottom;}
.vt { vertical-align:top;}
.vn { vertical-align:-2px;}
.ml2 { margin-left:2px;}
.ml5 { margin-left:5px;}
.ml10 { margin-left:10px;}
.ml20 { margin-left:20px;}
.mr2 { margin-right:2px;}
.mr5 { margin-right:5px;}
.mr10 { margin-right:10px;}
.mr20 { margin-right:20px;}
.mt2 { margin-top:2px;}
.mt5 { margin-top:5px;}
.mt10 { margin-top:10px;}
.mt15{ margin-top:15px;}
.mt20 { margin-top:20px;}
.mb2 { margin-bottom:2px;}
.mb5 { margin-bottom:5px;}
.mb10 { margin-bottom:10px;}
.mb16 { margin-bottom:16px;}
.mb20 { margin-bottom:20px;}
.mb30 { margin-bottom:30px;}
.f0 { font-size:0;}
.f9 { font-size:9px;}
.f10 { font-size:10px;}
.f11 { font-size:11px;}
.f12 { font-size:12px;}
.f13 { font-size:13px;}
.f14 { font-size:14px;}
.f15 { font-size:15px;}
.f16 { font-size:16px;}
.f18 { font-size:18px;}
.f25 { font-size:25px;}
.f32 { font-size:32px;}
.lh22{line-height:22px;}
.lh30{line-height:30px;}
.lh46{line-height:46px;}
.lh50{line-height:50px;}
.fa { font-family:Arial, Helvetica, sans-serif;}
.fix { zoom:1;}
.fix:after, .fix:before { display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;}
.rel { position:relative;}
.abs { position:absolute;}
.fixed { position:fixed;}
.dn { display:none;}
.db { display:block;}
.dib { -moz-stack-inline:inline-block; display:inline-block;}
.di { display:inline;}
.thd{text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.fm1020{width:1020px; margin:0 auto;}
.fm1024 {width: 1024px;margin: 0 auto}

.fm1025{width:1025px; margin:0 auto; padding-left:5px; }
.fm1020_b {width: 1020px;margin: 16px auto;}
.f230{ width: 230px;}
.f350 {width: 350px;}
.f780{ width: 788px;}
.f820{ width: 820px;}
.hei1{height:1px; clear:both; width:100%; overflow:hidden; display:block;}
.page_top{height:16px; clear:both; width:100%; overflow:hidden; display:block;}
.scroll_cont{position: absolute; width: 20000px; top: 0px; left: 0px}
.min_h{min-height:800px; _height:800px;}
.min_h1400{min-height: 1400px; _height:1400px;}
.lh{overflow: hidden;; _zoom:1;}
.lh li{padding:8px 0;}
.nobrder{border:none;}

/*黑色分界线*/
.hei_ft{ height: 2px; margin: 5px auto;}
.hei_ft .hei_l,.hei_ft .hei_r{ background: url(../images/hei_lf.png) no-repeat; width: 123px; height: 2px;}
.hei_ft .hei_l{ background-position: 0px 0px;}
.hei_ft .hei_r{ background-position: 0px -3px;}
.hei_ft .hei_c{ background: url(../images/hei_c.png) repeat-x; height: 2px; width: auto;}
/*颜色*/
.t_red{color:#d63333;}
.t_green{color:#1a6f24;}
.t_orange{color:#fead44;}

/*超链颜色*/
.A_brd a{color:#333;}
.A_brd a:hover{color:#dd1471;}
.A_b a{color:#333;}

/*header*/
.header{font-size:14px; min-width: 1024px;}
.header .uinfo{height:82px;}
.header .logo_wrap .logo{background:url(../images/logo_v6.png) no-repeat; display:inline; float:left; line-height:100em; overflow:hidden; width:476px; height:65px; margin-top:15px;}
.header .uinfo .info_show{ margin-top: 45px; height: 32px; line-height: 32px;}
.header .uinfo .info_show li{ float: left; }
.hd_bt {height: 1px;width: 100%;background: #D7D7D7;border-top: 1px solid #FCFCFC;}
.header a{ display:block; color: #333;}
.header a:hover{ color: #dd1471; text-decoration: none;}
.info_show .follow_bg {padding-left:20px; margin-top: 10px;}
.login_no li{ padding: 0 10px; height: 32px; overflow: hidden; float: left;}
.login_no em{ border-right: 1px #ccc dashed;padding-right: 10px; height: 14px; float: left;}
.login_no li.nopr{ padding-right: 0;}

/*footer*/
#foot_wrap_a .hei_c {width: 1020px;}
.footer{ font-size:12px; min-width: 1024px; text-align: left;}
.footer .fm1020{ background: #f3f3f3;position:relative;margin-top: 8px;margin-top: -10px\9; *zoom:1; z-index: 8;}
#foot_wrap_b .footer .fm1020,#foot_wrap_a.footer .fm1020{ background: #fff; margin-top: 0;}
.footer .f_list{float:left; padding:0 43px 20px 30px; _width:60px;}
.footer .f_list h4{height:30px; }
.footer .f_list ul{float:left; line-height:24px; color:#999; zoom:1;}
.footer .f_list ul a{color:#999;}
.footer .f_list_help{ _width:140px;}
.footer .f_list_wx{_width:67px;}
.footer .foot_subhead{height:150px; overflow:hidden;}
.footer .f_list_bq{_width:185px;}
.footer .foot_friends_con{ float: left; width: 960px;}
.footer .foot_friends{padding-top:3px; line-height:22px; color:#999; height:auto;}
.footer .foot_friends ul{display:block;float:left;}
.footer .foot_friends .foot_friends_title{float:left;height:47px;}
.footer .foot_friends a{padding:0 10px; color:#999; display: block; float: left;}
.footer .footer{width: 1020px; margin: 0 auto; background: #f3f3f3;}
.footer_ad_1025{margin: 0 auto 15px;}
.footer .quick_links{ margin-left: 30px; font-size: 16px;}
.footer .quick_links a{ color: #333; display: inline-block; line-height: 42px; width: 115px;}
#foot_wrap_a .quick_links{ margin: 0 0 0 17px; font-size: 14px; padding: 0;}
#foot_wrap_a .quick_links a{ width: auto; margin: 0 10px;}
#foot_wrap_a .copyright{ margin: 0 auto;width: 682px; color: #c3c3c3;}
#foot_wrap_a .copyright span{ padding: 0 10px;  }

/*icon*/
.follow_bg, .My_personal_nav .item_hd s, .pbl_praise, .pbl_step, .pbl_review, .pbl_forwarding, .lg_email, .lg_style, .lg_close, .lg_pull, .i_face, .i_giftcat, .i_giftbox, .i_serve, .i_phone, .i_sw_img, .lg_pull_on, .lg_put, .i_starblack, .lg_pull_on_w {background-image: url(../images/welcome_ico_v5.png);background-repeat: no-repeat;display: inline-block; vertical-align: middle;}
.follow_bg {background-position: -5px -38px; }

/*联系我们头像*/
.lxUs,.gzUs,.jrUs,.ceoUs{background:url(../images/lxus.png) no-repeat; display: block; width: 104px; height: 104px;}
.lxUs{ background-position: 0px 0px;}
.gzUs{ background-position: 0px -104px;}
.jrUs{ background-position: 0px -208px;}
.ceoUs{ background-position: 0px -312px;}

/*个人中心icon*/
.gz_book,.gz_box,.gz_try,.gz_list,.gz_tip,.gz_host{ vertical-align: middle; background: url(../images/grzx_icn.png) no-repeat; width: 30px; height: 25px; display: inline-block;}
.gz_book{ background-position: 0px 0px;}
.gz_box{ background-position: 0px -25px;}
.gz_try{ background-position: 0px -50px;}
.gz_list{ background-position: 0px -75px;}
.gz_tip{ background-position: 0px -100px;}
.gz_host{ background-position: 0px -125px;}
.gz_gj,.gz_pt{ background: url(../images/grzx_m_icon.png) no-repeat; width: 68px; height: 57px; vertical-align: middle; display: inline-block;}
.gz_gj{ background-position: 0px 0px;}
.gz_pt{ background-position: 0px -57px;}
.gz_null_box,.gz_null_try{background: url(../images/gz_null_icon.png) no-repeat; width: 85px; height: 62px; vertical-align: middle; display: inline-block;}
.gz_null_box{ background-position: 0px 0px;}
.gz_null_try{ background-position: 0px -62px;}
.gz_help,.gz_clock{ background: url(../images/grzx_i_icn.png) no-repeat; width: 30px; height: 30px; display: inline-block; }
.gz_help{ background-position: 0 0;}
.gz_clock{ background-position: -5px -30px; width: 21px; height: 21px;}
.gz_arrow_up,.gz_arrow_down,.gz_arrow_r,.gz_arrow_l,.gz_close{ width: 24px; height: 24px;}
.gz_arrow_up{ width: 30px; background-position: 0px -175px;}
.gz_arrow_down{ width: 30px; background-position: 0px -247px;}
.gz_arrow_r{ background-position: -30px -175px;}
.gz_arrow_l{ background-position: -30px -199px;}
.gz_close{ width: 30px; background-position: 0px -199px;}
.gz_plus,.gz_reduce{ width: 17px; height: 16px;}
.gz_plus{ background-position: -23px -229px;}
.gz_reduce{background-position: -6px -229px;}

/*登录注册icon*/
.dz_sina,.dz_qq,.dz_or,.dz_in{ background: url(../images/login_icon.png) no-repeat; display: block; width: 46px; height: 38px;}
.dz_sina{ background-position: 0 0;}
.dz_qq{ background-position: 0 -38px;}
.dz_or{ background-position: 0 -76px; height: 46px;}
.dz_in{ background-position: 0 -121px; height:54px; width: 54px; display: inline-block; vertical-align: middle;}
.dz_txt_dy,.dz_txt_sy,.dz_txt_jf{ background: url(../images/login_txt.png) no-repeat; display: block; width: 76px; height: 40px;}
.dz_txt_dy{ background-position: -6px 0px;}
.dz_txt_sy{ background-position: -88px 0px;}
.dz_txt_jf{ background-position: -174px 0px;}

/*按钮*/
.hd_btn{ background: url(../images/hd_btn.png) no-repeat; width: 72px; height: 32px; text-align: center; line-height: 32px; vertical-align: middle;}

/*背景色*/
#foot_wrap{ background:#fc3e93;margin-top: -8px; *zoom:1;position:relative;}
#content{ background:#fc3e93 url(../images/content_bg.jpg) center top no-repeat; min-height:750px; }
#content_login{ background: #000 url(../images/login_bgs.jpg) center top no-repeat; min-height: 620px;}


.W_pin_b ,.W_pin_fb2,.W_pin_b14 ,.W_pin_bl14 ,.W_pin_b1 ,.W_pin_p14 ,.W_pin_grey ,.W_pin_orange ,.W_pin_green ,.W_pin_blue,.W_whi_b14 {
    line-height: 24px;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
    text-align: center
}

.W_pin_b ,.W_pin_b14 ,.W_pin_bl14 {
    color: #fff;
    background: #e7308c
}

.W_pin_fb2 {
    color: #fff;
    background: #c90962
}

.W_whi_b14 {
    color: #dd1471;
    background: #fff;
    font-weight: bold
}

.W_pin_b:hover ,.W_pin_fb2:hover,.W_pin_b14:hover ,.W_pin_b1:hover ,.W_pin_bl14:hover ,.W_pin_p14:hover ,.W_pin_grey14:hover ,.W_pin_grey:hover,.W_pin_fb:hover,.W_whi_b14:hover {
    text-decoration: none
}

.W_whi_b14 {
    padding: 3px 8px;
    font-size: 14px
}

.W_pin_b,.W_pin_fb2 {
    padding: 1px 15px;
    font-size: 12px
}

.W_pin_b14 {
    padding: 3px 16px;
    font-size: 14px
}

.W_pin_bl14 {
    padding: 4px 22px;
    font-size: 14px
}

.W_pin_b1 ,.W_pin_p14 {
    color: #333;
    background: #ffe2f1
}

.W_pin_b1 {
    padding: 1px 15px;
    font-size: 12px
}

.W_pin_p14 {
    padding: 3px 16px;
    font-size: 14px
}

.W_pin_grey ,.W_pin_grey14 {
    color: #333;
    background: #f1f3f5
}

.W_pin_grey {
    padding: 1px 10px;
    font-size: 12px
}

.W_pin_grey14 {
    padding: 3px 16px;
    font-size: 14px
}

.W_pin_orange ,.W_pin_green ,.W_pin_blue {
    padding: 1px 15px;
    font-size: 12px
}

.W_pin_blue {
    background-color: #02c4d5;
    color: #fff
}

.W_pin_orange {
    background-color: #fb8e00;
    color: #fff
}

.W_pin_green {
    background-color: #418e03;
    color: #fff
}

.W_pin_fb {
    background: #e7308c;
    line-height: 24px;
    border: 0 none;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 1px 5px;
    font-size: 12px
}
.W_input_ws {
    border: 1px solid #ebebec;
    border-radius: 2px;
    height: 18px;
    padding: 3px 5px;
    vertical-align: middle;
    color: #999
}
.W_ico45 {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-image: url(../images/icon45.png);
    background-repeat: no-repeat
}

.icon_yes_45 {
    background-position: 0 0
}
.icon_no_45 {
    background-position: 0 -45px
}
.login_bound_con .W_ico45 ,.forget_pass_wrao .W_ico45 {
    vertical-align: -14px;
    _vertical-align: 0
}

.login_bound_con .login_bound_succend {
    margin-top: 135px
}

.login_bound_con .login_fail {
    margin: 80px 0 40px
}

.login_bound_con .login_fail h1 {
    margin: 0;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px
}

.login_bound_con .fail_speak {
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 14px
}

.login_bound_con .fail_speak a {
    margin-left: 8px
}

.login_bound_con .login_fail .title {
    margin-bottom: 40px
}

.login_bound_con .login_fail .fail_text {
    margin-left: 234px
}